@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IConfiguration Configuration

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="#" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{ 
private async Task BeginSignOut(MouseEventArgs args)
{
    await SignOutManager.SetSignOutState();

    var authority = (string)Configuration["Auth0:Authority"];
    var clientId = (string)Configuration["Auth0:ClientId"];

    Navigation.NavigateTo($"{authority}/v2/logout?client_id={clientId}");

}
}